html, body{
  margin:0;
  padding:0;
  font-size:1em;
  font-family: 'Inter', sans-serif;
  color:#212f3f;
  min-height: 100vh !important;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  background-color:#ffffff;
  scroll-behavior: smooth;
}

body {
  background-color:#ffffff;
}

.row {
  padding:0;
  margin:0;
  height:100%;
}

.container-fluid {
  padding:0;
  max-width:none;
}

.section {
  display: none;
  height:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:400;
  font-family: 'Inter', sans-serif;
}


ul.arrowed {
  margin-top:0px;
  margin-bottom:20px;
  list-style: none;
  padding-left: 15px;
}
ul.arrowed li {
  margin-bottom:5px;
}

.glyphicon-arrow-right{
  padding-right:5px;
}

.form-control {
  background-color: white;
  border-radius:0px;
}
.form-control.green {
  /*background-color:#edf8ed;*/
  color:#46b633;
  border:2px solid #46b633;
}
.form-control:focus {
  border:2px solid #46b633;
  /*box-shadow:inset 0 1px 1px #46b633,0 0 8px #46b633;*/
}

a.green {
  color:#46b633;
  /*font-weight:bold;*/
}
a.green.light {
  font-weight:normal;

}
a.green:hover {
  color:#608891;
}

.btn-demo {
  background-color:#46b633;
  border-color:#46b633;
  border-radius:0px;
  color:#ffffff;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
}
.btn-demo:hover {
  color:#ffffff;
}

.btn-half {
  width:49%;
}

.btn-primary {
  background-color:#46b633;
  border-color:#46b633;
  border-radius:0px;
  color:#ffffff;
  width:49%;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
}
.btn-primary:hover {
  background-color:#46b633;
  border-color:#46b633;
  color:#ffffff;
}

div.green {
  background-color:#edf8ed;
  /*color:#46b633;*/
  height:100%;
  padding-bottom:160px;
}
div.greenery {
  margin-top:10%;
  margin-left:10%;
  width:80%;
  max-width:500px;
  /*text-align: justify;
  text-justify: inter-word;*/
}
div.greenbottom {
  position:absolute;
  bottom:20px;
  left:13%;
  width:75%;
  max-width:500px;
}

/*------------------------sams css below---------------------------*/
  .center-col{
    max-width: 1400px;
    margin: auto;
  }

  h2{
    line-height: 140%;
    text-align: center;
  }

  h3{
    line-height: 140%;
  }

  h4{
    margin: 0;
  }

  a:hover{
    text-decoration: none;
    cursor:pointer;
    color: #345484;
  }

  p{
    line-height: 165%;
    text-align: left;
    padding:30px 0;
  }

  li{
    padding-top: 10px;
  }

/*face cards*/
  .card-holder{
    background-color: #E5E5E5;
    width: 100%;
    font-size: 0;
  }

  .card-outer{
    display: inline-block;
    width: 16.666%;
    padding-top: 29%;
    position: relative;
  }

  .card-inner{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding:20px;
    background-position: center;
    background-size: cover;
    transition: 0.2s;
  }

  .card{
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   height: 100%;
  }

  .card-outer:hover .layer-vanish{
    opacity: 0 !important;
  }

  .card p{
    font-style: italic;
    text-align: right;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }

  .card h3{
    color: white;
  }
  .card-quote{
    display: flex;
    height: 100%;
    align-items: center;
  }

  .card-quote h4{
    font-weight: normal;
    line-height: 1.3;
    color: white;
  }

  .card-logo{
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }

  .card-logo img{
    max-height: 15%;
    max-width: 100%;
    width: auto;
  }

  .supportedby{
    display: flex;
    padding: 0 30px 90px 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .supportedby h4{
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .supportedby img{
    padding-top: 60px;
    width: 100%;
  }

/*general div backgrounds*/

  .green-bg{
    width: 100%;
    padding: 30px;
    background-color: #46B633;
    color: white;
  }
  .green-bg h2{
    color: white;
  }

  .navy-bg{
    width: 100%;
    padding: 30px;
    background-color: #428BCA;
    color: white;
  }

  .blue-bg{
    width: 100%;
    padding: 30px;
    background-color: #428BCA;
    color: white;
  }

  .white-bg{
    width: 100%;
    padding: 30px;
    background-color: white;
  }

  .dark-bg{
    width: 100%;
    padding: 30px;
    background-color: #212f3f;
    color: white;
  }

/*header*/

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header strong{
    letter-spacing: 2px;
  }
  .header a{
    color: white;
    margin: 0;
  }
  .header p{
    margin: 0;
  }
  .header span{
    /*padding: 0 10px;*/
  }

/* first thing the user sees at page top banner*/

  .pitch{
    padding: 120px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .pitchhalf{
    text-align: center;
    width:50%;
    padding: 30px;
  }

  .pitchhalf p{
    text-align: left;
  }

/*buttons*/

  .btn{
    width:100%;
    max-width: 245px;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 0px;
  }

  .btn-demo-blue{
    background-color: #428BCA;
    color: white;
    border:none;
  }

  .btn-demo-blue:hover{
    background-color: #345484;
    color: white;
  }

  .btn-hollow-blue {
    border-color: #428BCA;
    border-width: 2px;
    color: #428BCA;
  }
  .btn-hollow-blue:hover {
    border-color: #428BCA;
    background-color: #428BCA;
    color: white;
  }

  div.blue {
    background-color:#ECF3FA;
    /*color:#46b633;*/
    height:100%;
    padding-bottom:160px;
  }
  div.blueery {
    margin-top:10%;
    margin-left:10%;
    width:80%;
    max-width:500px;
    /*text-align: justify;
    text-justify: inter-word;*/
  }

  div.bluebottom {
    position:absolute;
    bottom:20px;
    left:13%;
    width:75%;
    max-width:500px;
  }

  .btn-demo-white{
    background-color: white;
    border-color: white;
    color: #46b633;
    border:none;
  }

  .btn-demo-white:hover{
    background-color: #ddd;
  }

  .btn-demo-green{
    background-color: #46B633;
    border:none;
    color:white;
  }

  .btn-demo-green:hover{
    background-color: #608891;
    color: white;
  }

  .btn-hollow-green {
    border-color: #46b633;
    border-width: 2px;
    color: #46b633;
  }
  .btn-hollow-green:hover {
    border-color: #46b633;
    background-color: #46b633;
    color: white;
  }

/*features (lists of benefits)*/

  .features{
    padding:60px 0;
  }
  .featurebox{
    width: 49%;
    height: 450px;
    padding: 30px;
    display: inline-block;
    vertical-align:top;
  }
  .featurebox h2{
    text-align: center;
  }
  .featurebox ul{
    width:80%;
    margin: auto;
    margin-top:30px;
    padding-left:20px;
  }

  .featurebox p{
    width:80%;
    margin: auto;
    margin-top:30px;
    padding-left:20px;
  }

  #learnmore{
    display: flex;
    flex-direction: row;
  }

/*programs(basic or leadership)*/

  .programs{
    display: flex;
    justify-content:space-around;
    text-align: center;
  }

  .program-green{
    width:50%;
    color:#46B633;
  }
  .program-green li{
    list-style-image: url('/static/ul-tick-green.png');
  }


  .program-blue{
    width:50%;
    color:#ECF3FA;
  }
  .program-blue li{
    list-style-image: url('/static/ul-tick-blue.png');
  }

  /*.program{
    width:50%;
    color:#46B633;
  }*/
  .programcontents{
    max-width:350px;
    margin: auto;
    padding: 50px 0;
    text-align: center;
  }

  .programcontents .btn{
    margin:20px 0;
  }

  .program li{
  }

/*sales tools*/

  .tool-container{
    width: 33%;
    height: 560px;
    display: inline-block;
    padding: 30px;
  }

  .tool{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tool h4{
    text-align: center;
  }

  .tool img{
    width: 80%;
    padding-bottom: 30px;
  }
/*
  .tool a{
    width: 80%;
  }*/

/*quote with image*/

  .quote{
    display: flex;
    padding: 90px 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .quotetext{
    max-width: 800px;
    text-align: center;
    line-height: 130%;
    padding: 0 30px;
    /*margin: auto;*/
  }

  .quotetext h3{
    text-align: left;
    padding-bottom: 30px;
  }
  .quotetext p{
    text-align: left;
    font-style: italic;
    padding: 0;
  }

  .profilephoto{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 30px;
  }

/*general purpose slogan text*/

  .strapline{
    max-width: 800px;
    text-align: left;
    margin: auto;
  }

  .unilogos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .unilogo{
    height: auto;
    width:20%;
    padding: 20px;
  }

  .media{
    display: inline-block;
    width: 100%;
    max-width: 1024px;
    white-space: nowrap;
  }

  .media img{
    width: 20%;
    height: auto;
    padding:10px;
  }

/*footer*/

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer span{
    color: white;
    padding-right: 12px;
  }
  .footer strong{
    letter-spacing: 2px;
  }
  .footer p{
    margin: 0 6px;
    padding:0;
  }

  .footer-team{
    max-width: 1024px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }

  .footer-team p{
    width:55%;
    padding:0;
  }
  .footer-team img{
    height: 315px;
   /* padding: 0 40px;*/
  }

/*if the footer sticks to bottom*/
/*  .stick-to-bottom{
    position: absolute;
    bottom: 0;
  }*/

/*flex column style*/
  .flex-all{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }

  .flex-body{
    flex: auto;
  }

@media screen and (min-width: 640px) {
  .stick-to-bottom{
    position: absolute;
    bottom: 0;
  }

  }

@media screen and (max-width: 1500px){
  .card-outer{
    width:25%;
    padding-top:41%;
  }
}

@media screen and (max-width: 1024px){
    .tool-container{
      width: 49%;
    }
    .featurebox{
      height: 440px;
    }

    .card-outer{
      width: 50%;
      padding-top: 81%;
    }

}

@media screen and (max-width: 768px){
    .tool-container{
      width: 100%;
    }

    .pitch{
      flex-direction: column-reverse;
      padding: 30px 0;
    }
    .pitchhalf{
      width:100%;
      padding: 0 30px;
    }
    .unilogos{
      display: inline;
    }
    .unilogo{
      width:49%;
      height: auto;
      padding: 0;
    }
    .quote{
      /*padding: 40px 0;*/
    }

    .supportedby{
    padding: 0 20px 40px 20px;
    }

    .supportedby img{
    padding-top: 40px;
    }
      #learnmore{
      flex-direction: column;
    }
    .featurebox{
      width:100%;
      height: auto;
    }
    .featurebox ul{
      width:100%;
    }
    .programs{
      flex-direction: column;
    }
    .program-blue{
      width:100%;
    }
    .program-green{
      width:100%;
    }

    #demo{
      display: none;
    }

    #demo-mobile{
      display: block;
    }

    .profilephoto{
      display: none;
    }
    .footer{
      align-items: flex-start;
      flex-direction: column;
    }
    .media img{
      width: 32%;
    }

    .footer-team{
      flex-direction: column-reverse;
      align-items: center;
    }

    .footer-team p{
      width: 100%;
      padding: 30px 0;
    }

    .card-outer{
    width: 50%;
    padding-top: 67%;
    }

    /*.card-logo img{
      max-height: 20%;
    }*/

    .quotetext{
      padding:0;
    }

    .card-quote{
      display: none;
    }

}

@media screen and (min-width: 768px){

  #demo-mobile{
    display: none;
  }

}

/*not on small phones*/
@media screen and (max-width: 450px){
  .notonsmallphones{
    display: none;
  }
}
.onlyonsmallphones{
  {
    display: none;
  }

/*only on small phones*/
@media screen and (max-width: 450px){
  .onlyonsmallphones{
    display: block;
  }
}
