  <div id="footer">
    <div class="strap strap-compact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <p style="color:white;">
              Proudly open source on <a href="https://github.com/oabutton">Github</a>
            </p>

          </div>
          <div class="col-md-6">
              <p style="color:white;text-align:right;">
              <a href="/about">About</a>    ·
              <a href="/libraries">For libraries</a>   ·
          <!--  Archived  <li><a href="/support">Support us</a></li> -->
          <!--  Archived  <li><a href="/resources">Resources</a></li> -->
          <!--  Hiding <li><a href="/blog.openaccessbutton.org/">Blog</a></li> -->
          <a href="/api">API</a>    ·
              <a href="/feedback#bug">Bugs</a>    ·
          <!-- moving to about <li><a href="/sources">Sources</a></li>-->
              <a href="https://twitter.com/OA_Button">Twitter</a>    ·
              <a href="/account" class="cloggedin" style="display:none;">Account</a><a href="/account" class="notcloggedin">Login</a></p>
          </div>
          <!--<div class="col-md-3 col-md-offset-1">
            <p>
              <a alt="Find us on twitter" title="Find us on twitter" href="https://twitter.com/OA_Button" target="_blank"><i class="fa fa-twitter-square fa-5x" style="color:#4099FF;"></i></a>
              <a alt="Find us on facebook" title="Find us on facebook"  href="https://www.facebook.com/openaccessbutton" target="_blank"><i class="fa fa-facebook-square fa-5x" style="padding-left:10px;color:#3B5998;"></i></a><br>
              <a alt="Find us on github" title="Find us on github" href="https://github.com/oabutton/backend" target="_blank"><i class="fa fa-github-square fa-5x" style="color:#767676;"></i></a>
              <a alt="Contact us" title="Contact us" href="/about#contact" target="_blank"><i class="fa fa-envelope-square fa-5x action" style="padding-left:10px;"></i></a>
            </p>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-74685304-1', 'auto');
  ga('send', 'pageview');
  </script>
