  <div id="topnav" class="navbar navbar-fixed-top" style="background-color:white;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  style="z-index:1000000;">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-list"></span>
        </button>
        <ul class="nav navbar-nav">
          <li class="hidden-xs hidden-sm"><img class="img" src="/static/icon_OAB.png" style="height:45px;margin-top:6px;"></li>
          <li><a href="/" style="font-size:18px;">Open Access Button</a></li>
        </ul>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <!--<li><a href="/request/new"><i class="glyphicon glyphicon-plus"></i> Create a request</a></li>-->
          <li><a href="/request"><i class="glyphicon glyphicon-search"></i> Support Requests</a></li>
          <li class="cloggedin" style="display:none;"><a href="/account" style="padding-top:16px;">Your account</a></li>
          <li class="notcloggedin"><a href="/account" style="padding-top:16px;">Login</a></li>
          <li id="downloader" class="hidden-xs hidden-sm notcloggedin" style="background-color:#398bc5;color:#212f3f;height:55px;z-index:10000;
          -webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
          <a href="/account" style="font-size:1.2em;font-weight:bold;">Sign up</a></li>
        </ul>
      </div>
    </div>

    <div class="alert alert-info" style="display:none;" id="fromopendatabutton">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
       <p>The Open Data Button has now merged with the Open Access Button. Your account and request will stay the same, but you'll need to get the new plugin. For more on the changes see our <a href="/blog/new-oab-2016">blog</a>.</p>
       </div>

<!-- start of alert bar -->

       <div class="alert alert-info">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p>We've <i>just</i> released a rebuild of our website & apps. We're doing checks on our production system.</p>
          </div>

<!-- end of alert bar -->

  </div>
